# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Ignore editor and OS-specific files
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore version control directories
.git
.gitignore

# Ignore logs and temporary files
*.log
tmp/
